Source: locksmith
Section: admin
Priority: optional
Maintainer: Niels Grewe <niels.grewe@halbordnung.de>
Build-Depends: debhelper (>=9), dh-systemd (>=1.5), golang-any
Standards-Version: 3.9.7
Homepage: https://github.com/coreos/locksmith
Vcs-Git: https://github.com/coreos/locksmith.git

Package: locksmithd
Architecture: any
Depends: ${misc:Depends}, systemd, dbus, update-broker
Description: Cluster Reboot Manager
 locksmith is a reboot manager which is able to use etcd to ensure that
 only a subset of a cluster of machines are rebooting at any given time.
